@model IEnumerable<Genre>

<h1>Genre Index</h1>
<a asp-action="Create" asp-controller="Genre">Add New Genre</a>
<table class="table table-hover table-bordered">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th colspan="3">Options</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td><a asp-action="Edit" asp-controller="Genre" asp-route-id="@item.Id">Edit</a></td>
            <td><a asp-action="Detail" asp-controller="Genre" asp-route-id="@item.Id">Details</a></td>
            <td><a asp-action="Delete" asp-controller="Genre" asp-route-id="@item.Id">Delete</a></td>
        </tr>
    }
    </tbody>
</table>